##If-else Statement

In [ ]:
#If statement
num = 54
if (num>50):
  print("Number greater than 50.")
print("number is: ",num)

Number greater than 50.
number is:  54

In [ ]:
# If-else statement
num = 14
if(num>50):
  print("Number greater than 50.")
else:
  print("Number smaller than 50.")

Number smaller than 50.

In [ ]:
# 'in' statement with If-else
list1 = ['Jack','Micheal','Joe','Elina','Katherine']
if('Jack' in list1):
  print("Jack in List.")
else:
  print("Jack not in list.")

Jack in List.

In [ ]:
#Using combination of if-elif-else
tpl = ('Clay','Brandon','Justin','Alisha','Jessica','Katherine')
if('Clay' and 'Dylan' in tpl):
  print("Clay and Dylan are available")
elif('Katherine' and 'Hannah' in tpl):
  print("Katherine and Hannah are available.")
elif('Brandon' and 'Justin' in tpl):
  print("Brandon and Justin are available.")
else:
  print("No one is available.")

Brandon and Justin are available.

In [ ]:
if []:
  print("Empty list returns True.")
else:
  print("Empty list returns False.")

Empty list returns False.

In [ ]:
if ():
  print('Empty tuple return True')
else:
  print('Empty tuple return False')

Empty tuple return False

In [ ]:
#Using multiple if-elif-else statement
tpl = ('Clay','Brandon','Justin','Alisha','Jessica','Katherine')
if('Clay' in tpl):
  print("Clay available")
  if('Dylan' in tpl):
    print("Dylan Available")
  elif('Alisha' in tpl):
      print("Alisha Available")
      if('Hannah' in tpl):
        print("Hannah available")
      else:
        print("N/A")

Clay available
Alisha Available
N/A

In [ ]:
if(2/2 == 2):
  print("two")
elif(5/1 == 2):
  print("two")
elif(0/1 == 2):
  pass
else:
  print("Last value passed")

Last value passed

## Iterations and Loops

In [ ]:
i=1
while i<11:
  print(i)
  i = i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
num = 1
fact = 1
while (num<=5):
  fact = num*fact
  num = num+1
print(fact)

120

In [ ]:
point = '*'
max_length = 7

while(len(point)<=max_length):
  print(point)
  point = point+'*'

while(len(point)>=1):
  print(point)
  point = point[:-1]

*
**
***
****
*****
******
*******
********
*******
******
*****
****
***
**
*

In [ ]:
point = '*'
max_length = 7

while(len(point)<=max_length):
  print(point)
  point = point+'*'

while(len(point)>=1):
  print(point)
  point = point[:-1]

In [ ]:
for i in range(7):
  print(i)

0
1
2
3
4
5
6

In [ ]:
for i in range(11,21):
  print(i)

11
12
13
14
15
16
17
18
19
20

In [ ]:
for i in range(1,21,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
for i in tpl:
  print(i)

Clay
Brandon
Justin
Alisha
Jessica
Katherine

In [ ]:
lst = [{'name': 'Ray','cast':'Henry'},{'name':'Joe','cast':'Tommy'},{'nane':'Robert','cast':'Jimmy'}]
for i in lst:
  for key in i:
    print(i[key])

Ray
Henry
Joe
Tommy
Robert
Jimmy

In [ ]:
lst = [{'name': 'Ray','cast':'Henry'},{'name':'Joe','cast':'Tommy'},{'nane':'Robert','cast':'Jimmy'}]
for i in lst:
  print("Cast name: ",i.get('cast'))

Cast name:  Henry
Cast name:  Tommy
Cast name:  Jimmy

In [ ]:
lst2 = ['Jimi Hendrix','Jimmy Page','Jeff Beck','Eddie Van Halen','BB King']
for i in lst2:
  if(i == 'Jimmy Page'):
    print(i, "--> favourite" )
  else:
    print(i)

Jimi Hendrix
Jimmy Page --> favourite
Jeff Beck
Eddie Van Halen
BB King

In [ ]:
# Use break statement to get out from a loop
for i in lst2:
  print(i)
  if(i=='Eddie Van Halen'):
    print("Found!!")
    break

Jimi Hendrix
Jimmy Page
Jeff Beck
Eddie Van Halen
Found!!

In [ ]:
# Continue statement is used to skip that iteration from the loop
for i in lst2:
  if(i == 'Jimmy Page'):
    print("Jimmy Page --> my favourite")
    continue
  print(i)

Jimi Hendrix
Jimmy Page --> my favourite
Jeff Beck
Eddie Van Halen
BB King

In [ ]:
# Pass can be used to not run any statement inside the loop
lst = [{'name': 'Ray','cast':'Henry'},{'name':'Joe','cast':'Tommy'},{'nane':'Robert','cast':'Jimmy'}]
for i in lst:
  pass

In [ ]:
tpl1 = ('Evan','Thandiwe','Jeffery')
lst1 = ['Dolores','Maeve','Bernard']
for i in tpl1:
  for j in lst1:
    print(i,j)

Evan Dolores
Evan Maeve
Evan Bernard
Thandiwe Dolores
Thandiwe Maeve
Thandiwe Bernard
Jeffery Dolores
Jeffery Maeve
Jeffery Bernard

##Functions

In [ ]:
#simple function
def greet():
  print("Hello World!")
  print("This is a function.")

In [ ]:
greet()

Hello World!
This is a function.

In [ ]:
def cal(num1,num2):
  print(num1,"+",num2," = ",num1+num2)
  print(num1,"-",num2," = ",num1-num2)
  print(num1,"*",num2," = ",num1*num2)
  print(num1,"/",num2," = ",num1/num2)

In [ ]:
cal(5,10)

5 + 10  =  15
5 - 10  =  -5
5 * 10  =  50
5 / 10  =  0.5

In [ ]:
def filter_even(lst):
  even_lst = []
  for i in lst:
    if(i%2 == 0):
      even_lst.append(i)
  return even_lst

In [ ]:
result_list = filter_even([1,2,3,4,5,6,7,8,9,10])
result_list

[2, 4, 6, 8, 10]

In [ ]:
def loan_emi(amount,duration,downpayment=0):
  loan_amount = amount-downpayment
  emi = loan_amount/duration
  return emi

In [ ]:
emi1 = loan_emi(1260000,8*12,3e5)
emi1

10000.0

In [ ]:
emi2 = loan_emi(1260000,8*12) #third argument not given but still works.
emi2

13125.0

In [ ]:
emi03 = loan_emi(amount=1260000,duration=6*12,downpayment=2e3)#
emi03

17472.222222222223

In [ ]:
def divide(num1,num2):
  result = 0
  try:
    result = num1/num2
  except:
    result = 0
    print("Error in divide function")
  return result

In [ ]:
num1 = 3
num2 = 2
i = 1
while i<5:
  print(divide(num1,num2))
  num1 = num1-1
  num2 = num2-1
  i = i+1

1.5
2.0
Error in divide function
0
-0.0

##Data Analysis for Vacation Planning

In [4]:
data = [{"city":'Paris','flt_cost':200,'hotel_perDay':20,'rentalcar_weekly': 200},{"city":'London','flt_cost':250,'hotel_perDay':30,'rentalcar_weekly': 120}
        ,{"city":'Dubai','flt_cost':370,'hotel_perDay':15,'rentalcar_weekly': 80},{"city":'Mumbai','flt_cost':450,'hotel_perDay':10,'rentalcar_weekly': 70}]

In [5]:
data

[{'city': 'Paris',
  'flt_cost': 200,
  'hotel_perDay': 20,
  'rentalcar_weekly': 200},
 {'city': 'London',
  'flt_cost': 250,
  'hotel_perDay': 30,
  'rentalcar_weekly': 120},
 {'city': 'Dubai',
  'flt_cost': 370,
  'hotel_perDay': 15,
  'rentalcar_weekly': 80},
 {'city': 'Mumbai',
  'flt_cost': 450,
  'hotel_perDay': 10,
  'rentalcar_weekly': 70}]

In [6]:
import math
def cost_of_trip(flight_cost,hotel_rate,carRental_rate,duration):
  tot_cost = flight_cost+(hotel_rate*duration)+carRental_rate*(math.ceil(duration/7))
  return tot_cost

Cost of vacation for n days

In [7]:
#If you're planning a 1-week long trip, which city should you visit to spend the least amount of money?
for i in data:
  cost = cost_of_trip(i['flt_cost'],i['hotel_perDay'],i['rentalcar_weekly'],7)
  print(i['city'],cost)

Paris 540
London 580
Dubai 555
Mumbai 590

In [8]:
#How does the answer to the previous question change if you change the trip's duration to four days, ten days or two weeks?
#for 4 days
for i in data:
  cost = cost_of_trip(i['flt_cost'],i['hotel_perDay'],i['rentalcar_weekly'],4)
  print(i['city'],cost)

Paris 480
London 490
Dubai 510
Mumbai 560

In [9]:
#for 10 days
for i in data:
  cost = cost_of_trip(i['flt_cost'],i['hotel_perDay'],i['rentalcar_weekly'],10)
  print(i['city'],cost)

Paris 800
London 790
Dubai 680
Mumbai 690

In [10]:
#for 14 days
for i in data:
  cost = cost_of_trip(i['flt_cost'],i['hotel_perDay'],i['rentalcar_weekly'],14)
  print(i['city'],cost)

Paris 880
London 910
Dubai 740
Mumbai 730

In [11]:
'''def number_of_days(budget):
  day_cost = 0
  number_of_days = 0
  while(day_cost<=budget):
    day_cost = day_cost+cost_of_trip(i['flt_cost'],i['hotel_perDay'],i['rentalcar_weekly'],number_of_days)
    number_of_days = number_of_days+1
  return number_of_days
'''

In [12]:
'''for i in data:
  days = number_of_days(1000)
  print(i['city'],days)
'''

KeyboardInterrupt: ignored

Maximise the duration of the vacation

In [21]:
budget = 1000
for i in data:
  cost = cost_of_trip(i['flt_cost'],i['hotel_perDay'],i['rentalcar_weekly'],1)
  number_of_days = budget/cost
  print(i['city'],number_of_days)

Paris 2.380952380952381
London 2.5
Dubai 2.150537634408602
Mumbai 1.8867924528301887

In [15]:
budget = 600
for i in data:
  cost = cost_of_trip(i['flt_cost'],i['hotel_perDay'],i['rentalcar_weekly'],1)
  number_of_days = budget/cost
  print(i['city'],number_of_days)

Paris 1.4285714285714286
London 1.5
Dubai 1.2903225806451613
Mumbai 1.1320754716981132

In [16]:
budget = 2000
for i in data:
  cost = cost_of_trip(i['flt_cost'],i['hotel_perDay'],i['rentalcar_weekly'],1)
  number_of_days = budget/cost
  print(i['city'],number_of_days)

Paris 4.761904761904762
London 5.0
Dubai 4.301075268817204
Mumbai 3.7735849056603774

In [17]:
budget = 1500
for i in data:
  cost = cost_of_trip(i['flt_cost'],i['hotel_perDay'],i['rentalcar_weekly'],1)
  number_of_days = budget/cost
  print(i['city'],number_of_days)

Paris 3.5714285714285716
London 3.75
Dubai 3.225806451612903
Mumbai 2.830188679245283